@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    position: sticky;
    background-image: url(/pics/bg_con.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-x: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 10px;
    
}

.logo_title, .navbar ul li a{
    color: white;
}

.navbar ul li a{
    padding: 20px;
    margin: 0 20px;
    transition: all 1s ease-out;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a:hover{
    color: black;
    background-color: orange;
    border-radius:  10px;
}

.head{
    position: relative;
    width: 400px;
    height: 300px;
    top: 10%;
    border: 3px solid #262626;
    background-color: none;
    margin: auto;
    text-align: center;
    transition: background-color 2s, color 2s;
    color: whitesmoke;
}

.head h1{
    margin-top: 25%;
}

.head:hover{
    background-color: #262626;
    color: cyan;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-image-slice: 1;
}


.head h1 p{
    position: relative;
    top: 25%
}

.head2{
    position: relative;
    width: 100%;
    height: 100%;
    top: 18%;
    border: 1px solid black;
    background-color: whitesmoke;
    color: #262626;
    transition: all 1s ease-in-out;
}


.head2 h1{
    text-align: center;
}

.head2 img{
    position: relative;
    width: 50%;
    height: 50%;
    border: 1px black solid;
    margin-left: 25%;
    margin-top: 8%;
}

.head2 p{
    text-align: center;
    
}

.head2 a{
    color: red;    
}

.footer{
    position: relative;
    top: 15%;
    height: 20%;
    width: 100%;
    background-color: #262626;
    color: whitesmoke;
    text-align: center;
}

.footer img{
    position: relative;
    width: 40px;
    top: 20%;
    height: 40px;
}

.footer p {
    position: relative;
    top: 20%;
    text-align: center;
}


.center{
    text-align: center;
}