@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    position: sticky;
    background-image: url(/pics/bg_con.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-x: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 10px;
    
}

.logo_title, .navbar ul li a{
    color: white;
}

.navbar ul li a{
    padding: 20px;
    margin: 0 20px;
    transition: all 1s ease-in;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a:hover{
    color: black;
    background-color: orange;
    border-radius:  10px;
}

.head{
    position: relative;
    width: 400px;
    height: 300px;
    top: 10%;
    border: 1px solid black;
    background-color: none;
    margin: auto;
    text-align: center;
    transition: background-color 2s, color 2s;
    color: whitesmoke;
}

.head:hover{
    background-color: #262626;
    color: cyan;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-image-slice: 1;
}


.head h1, p{
    position: relative;
    top: 25%
}

.head2{
    position: relative;
    width: 100%;
    height: 500px;
    top: 20%;
    border: 1px solid black;
    background-color: whitesmoke;

}

.head2 h1{
    text-align: center;
}

form{
      /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 600px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #262626;
  border-radius: 15px;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 200px;
    text-align: right;
  }

  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }

  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px; /* même taille que les étiquettes */
  }
  
  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: 3em;
    width: 500px;
  }

.footer{
    position: relative;
    top: 15%;
    height: 15%;
    width: 100%;
    background-color: #262626;
    color: whitesmoke;
    text-align: center;
}

.footer img{
    position: relative;
    margin-right: 1%;
    width: 40px;
    top: 20%;
    height: 40px;
}

.footer{
    text-align: center;
}

.valid{
    position: relative;
    color: green;
    text-align: center;
}

#captcha{
    position: relative;
    margin-left: 202px;
}