@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    position: sticky;
    background-image: url(/pics/bg_con.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-x: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 10px;
    
}

.logo_title, .navbar ul li a{
    color: white;
}

.navbar ul li a{
    padding: 20px;
    margin: 0 20px;
    transition: all 1s ease-out;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a:hover{
    color: black;
    background-color: orange;
    border-radius:  10px;
}

.head{
    position: relative;
    width: 400px;
    height: 300px;
    top: 10%;
    border: 3px solid #262626;
    background-color: none;
    margin: auto;
    text-align: center;
    transition: background-color 2s, color 2s;
    color: whitesmoke;
}

.head h1{
    margin-top: 25%;
}

.head:hover{
    background-color: #262626;
    color: cyan;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-image-slice: 1;
}

.head2{
    position: relative;
    width: 100%;
    height: 400px;
    top: 20%;
    border: 1px solid black;
    background-color: whitesmoke;
    transition: all 2s ease;
}

.head2 img{
    transition: all 2s ease;
}


.head2 h1{
    text-align: center;
}

#test:hover{
    transition: background-color 2s, color 2s;
}

/* head */



.box{
    position: relative;
    width: 20%;
    height: 20%;
    margin: auto;
    float:left;
    left: 29%;
    text-align: center;
    transition: all 2s ease;
}

.box img{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: none;
}

.head2:hover{
    background-color: #262626;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-image-slice: 1;
    color: white;
}

#icon:hover{
    transition: all 2s ease;
    transform: scale(1.2);
}


.test{
    position: relative;
    background-color: #262626;
    top: 15%;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}


.test p{
    position: relative;
    top: 50%;
}

.footer{
    position: relative;
    width: 100%;
    height: 19%;
    top: 20%;
    margin: 0%;
    border: 1px solid black;
    background-color: #262626;
    color: whitesmoke;
    text-align: center;
}